//PRODUCT SECTION
.our-products {
  background-color: rgb(208, 236, 160);
}


//NEWS SECTION
.news-section {
  background-color: rgb(239, 239, 239);
}

//CONTACT SECTION
.contact-section {
  background-color: rgb(13, 23, 37);
}
