//PRODUCT SECTION
.our-products {
  background-color: rgb(208, 236, 160);
}


//NEWS SECTION
.news-section {
  background-color: rgb(160, 160, 160);
}

//CONTACT SECTION
.contact-section {
  background-color: blue;
}
