body {

}
li {
  list-style: none;
  display: inline-block;
}

.header-section {
  background-image: url("https://thumbs.dreamstime.com/z/pig-fried-green-dish-banana-leaf-background-food-75893140.jpg");
  height: 40rem;
  margin-top: -4.5rem;
}
