<section class="news-section">
  <div class="product-section-container">
    <span>Our Network</span>
    <h4 class="section-heading">{{newsSection.title}}</h4>
    <span>♡</span>
    {{!-- <p>{{newsSection.description}}</p> --}}
  </div>

    <div class="row">
    {{#each newsPosts as |post|}}
      <div class="col s12 m4">
        <div class=" hoverable">
          <img class="image-thumb" src="https://image.shutterstock.com/z/stock-vector-breaking-news-world-news-with-map-backgorund-breaking-news-modern-concept-tv-news-design-640991758.jpg" alt="">
        </div>
        <h5>{{post.title}}</h5>
        <p class="truncate">{{post.description}}</p>
      </div>
    {{/each}}
    </div>

</section>
