{{home-page/about-section
  aboutSection=aboutSection
  history=history
  whyU=whyU
  awards=awards
}}

<div class="divider">
</div>

{{home-page/product-section
  productSection=productSection
  categories=categories
}}

<div class="divider">
</div>

{{home-page/chef-section
  chefSection=chefSection
  categories=categories}}

<div class="divider">
</div>

<section class="news-section">
  <h1>News section</h1>
</section>

<div class="divider">
</div>

<section class="contact-section">
  <h1>Contact</h1>
</section>
