<div class="row">
  <div class="col s12">
  {{admin-page/about-section
    aboutSection=aboutSection
    history=history
    whyU=whyU
    awards=awards
    update="updateAboutSec"
    updateHisWhy="updateHistory" }}
  </div>
</div>
