
  {{admin-page/about-section
    aboutSection=aboutSection
    history=history
    whyU=whyU
    awards=awards
    update="updateAboutSec"
    updateHisWhy="updateHistory"
    create="createAwards"
    updateAward="updateAward"
    delete="deleteAward"}}
<div>
  {{admin-page/product-section
    productSection=productSection
    categories=categories
    products=products
    updateProductSec="updateProductSec" }}
  </div>
