<div class="card-panel large link-button center-align">
  <h2>Admin Dashboard</h2>
  <li>{{#link-to 'admin-route.about-sections' class="btn btn-default"}}About Section {{/link-to}}</li>
  <li>{{#link-to 'admin-route.product-sections' class="btn btn-default"}}Product Section {{/link-to}}</li>
  <li>{{#link-to 'admin-route.chef-section' class="btn btn-default"}}Chef Section {{/link-to}}</li>
  <li>{{#link-to 'admin-route.news-section' class="btn btn-default"}}News Section {{/link-to}}</li>
  <li>{{#link-to 'admin-route.contact' class="btn btn-default"}}Contact Section {{/link-to}}</li>
</div>

{{outlet}}
