<div class="card">
  <div class="card-content">
    <div class="container">
      <!--product Section-->
      <p><span class="card-title">Product Section</span></p>
      <p>Section title:{{input value=productSection.title}}</p>
      <p>Section body: {{textarea value=productSection.description row="6"}}</p>
      <button type="submit" class="btn btn-primary" {{action "updateProSec"}}>
        Save
      </button>
    </div>
  </div>

</div>
