<section class="chef-tips">
  <h3>{{chefSection.title}}</h3>
  <p>{{chefSection.description}}</p>

  <img src="" alt="">

  {{#each chefCat as |cat|}}
  <li>{{cat.catType}}</li>
  {{/each}}
</section>
